.nav-link{
color : white !important;
}
.nav-link:hover{
color : yellow !important;
background-color : green;
border-radius:15px;
}
.navbar-brand{
font-weight : bold ;
}
.active{
background-color : red ;
border-radius : 20px ;
}
